<section class="about" id="about">
  <div class="about__container base-container">
    <div class="about__aside">
      <h2 class="about__title section-title base-title">«ГРОСС ПАРК» предоставляет строительные услуги</h2>
      <div class="about__text">
        <p>Компания, которая успешно развивается на рынке строительных услуг с 2006 года. Мы выполнили внушительное количество государственных и частных подрядов. Уже несколько лет успешно реализуем земляные работы в Москве и области.</p>
        <p>За несколько лет компания стала «монстром» в прокладке инженерных коммуникаций, сносе жилых домов, дорожно-строительных работах и проектах ЖКХ.</p>
      </div>
    </div>
    <figure class="about__image base-figure">
      <img class="about__img" src="img/image/about-image.png" width="647" height="536" alt="#">
    </figure>
  </div>
</section>