<section class="content">
  <div class="content__container base-container">
    <h2 class="content__title section-title base-title">
      Работы по сносу зданий включают в себя демонтаж и
      резку металлоконструкций, демонтаж кровли и фундамента,
      разборку жбк, разрушение стен и перекрытий из камня,
      бетона, кирпича и пр. материалов.
    </h2>
    <div class="content__wrapper">
      <div class="content__text">
        <p>
          После сноса построек остаются внушительные объемы строительного мусора. Благодаря комплексности наших услуг вам не понадобятся поиски другого подрядчика для этой операции (цена услуг по сносу сооружений и зданий, а также вывоза строительного лома и
          мусора в одной организации в сумме, конечно, будет ниже). Согласования со свалками и полигонами мы также проведем самостоятельно. Помимо того, в МАСК групп можно заказать подготовку котлована и траншей на освобожденной под строительство территории,
          ее благоустройство, прокладку инженерных систем.
        </p>
        <p>
          Мы оказываем профессиональный демонтаж, предоставляем все необходимое оборудование и обеспечиваем вывоз строительного мусора с территории застройки. Перед началом работ, наши специалисты тщательно изучают тип, строение и даже марку бетона, для того
          чтобы обеспечить быстрый, качественный и безопасный демонтаж бетонных сооружений. Для заказа услуги по демонтажу, пожалуйста свяжитесь с нашим оператором. Мы обязательно Вам поможем.
        </p>
      </div>
      <figure class="content__image base-figure">
        <img class="content__img" src="../img/image/content-img.png" width="636" height="451" alt="#">
      </figure>
    </div>
  </div>
</section>