<section class="feedback" style="background: url('img/image/feedback-cover.png') no-repeat; background-size: cover;">
  <div class="feedback__container base-container">

    <div class="feedback__column feedback__column--left">
      <h2 class="feedback__title section-title base-title">Свяжитесь с нашим специалистом</h2>
      <p class="feedback__text base-par">
        Заинтересованы в сотрудничестве или остались вопросы?
        Заполните форму обратной связи и наши менеджеры обязательно
        свяжутся с вами
      </p>
      <div class="feedback__features">
        <span class="feedback__features-item">
          Ответим в течение
          15 минут, в рабочее
          время
        </span>
        <span class="feedback__features-item">
          Бережем ваши персональные данные
        </span>
      </div>
      <a class="feedback__tel base-link" href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
    </div>

    <div class="feedback__column feedback__column--right">
      <div class="feedback__form-block">
        <form class="feedback__form" id="main_form">
          <label class="feedback__label feedback__label--name" for="main_form_name">
            <span class="feedback__label-text">Контактное лицо</span>
            <input class="feedback__input feedback__input--name" type="text" name="main_form_name" id="main_form_name">
          </label>
          <div class="feedback__formset">
            <label class="feedback__label feedback__label--phone">
              <span class="feedback__label-text">Телефон</span>
              <input class="feedback__input feedback__input--phone" type="tel" name="main_form_phone" id="main_form_phone">
            </label>
            <label class="feedback__label feedback__label--email">
              <span class="feedback__label-text">Email</span>
              <input class="feedback__input feedback__input--email" type="email" name="main_form_email" id="main_form_email">
            </label>
          </div>
          <label class="feedback__label feedback__label--text" for="main_form_name">
            <span class="feedback__label-text">Комментарий</span>
            <textarea class="feedback__input feedback__input--text" name="main_form_text" id="main_form_text"></textarea>
          </label>
          <span class="feedback__policy-text">Нажимая кнопку я соглашаюсь с <a class="feedback__policy-link base-link" href="#">политикой конфиденциальности</a></span>
          <button class="feedback__submit main-button base-button" type="submit" id="main_form_submit">Связаться с нами</button>
        </form>
      </div>
    </div>
  </div>
</section>