<section class="special">
  <div class="special__container base-container">
    <div class="special__wrapper">
      <div class="special__inner">
        <h2 class="special__title base-title">СПЕЦПРЕДЛОЖЕНИЕ</h2>
        <div class="special__content">
          <div class="special__content-item">
            <h3 class="special__content-title base-title">Скидка от 2000 рублей</h3>
            <p class="special__content-text base-par">при заказе длинномера и автокрана</p>
          </div>
          <div class="special__content-item">
            <h3 class="special__content-title base-title">ВЕРНЕМ CASHBACK ДО 10%</h3>
            <p class="special__content-text base-par">при заказе спецтехники на длительный срок</p>
          </div>
        </div>
        <a class="special__main-button special__main-button--@@class main-button base-link" href="#">Условия акции</a>
      </div>
      <figure class="special__image base-figure" data-aos="fade-left" data-aos-duration="2000">
        <img class="special__img" src="img/image/special-image.png" width="627" height="530" alt="#">
      </figure>
    </div>
  </div>
</section>