@use "../mixins";

.features {
  padding: 80px 0 93px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 18px 0;
  }

  &__desc {
    display: inline-block;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 37px 0;
  }

  &__wrapper {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 39px 70px;
    grid-auto: row;
  }

  &__item {
    display: flex;
    align-items: center;

    &-num {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 64px;
      min-width: 64px;
      height: 72px;
      min-height: 72px;

      background-image: url('../../img/image/polygon-icon.svg');
      background-size: 64px 72px;
      background-position: center;

      font-family: var(--font-family-second);
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: var(--color-mine-shaft);

      margin: 0 20px 0 0;
    }

    &-text {
      display: inline-block;

      max-width: 271px;

      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-mine-shaft);
    }
  }
}