@use "../mixins";

.heading-underline {
  width: 100%;
  // min-height: 112px;
  min-height: 14px;
  background-color: var(--color-selective-yellow);

  // &__container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: start;

  //   height: 100%;
  //   min-height: 112px;

  //   @include mixins.respond-to(mobileOnly) {
  //     flex-direction: column;
  //   }
  // }

  // &__info {
  //   @include mixins.respond-to(desktopS) {
  //     margin: 0 30px 0 0;
  //   }

  //   @include mixins.respond-to(desktopD) {
  //     margin: 0 50px 0 0;
  //   }

  //   @include mixins.respond-to(desktopM) {
  //     margin: 0 120px 0 0;
  //   }
  // }

  // &__info,
  // .heading-underline__description {
  //   font-family: var(--font-family-second);
  //   color: var(--color-mine-shaft);
  // }

  // &__main-button {
  //   border: 1px solid var(--color-mine-shaft);
  //   border-radius: 5px;

  //   padding: 10px 45px;
  //   margin: 0 0 0 auto;
  // }
}