@use "../mixins";

.index-catalogue {

  background-color: #EFF3F6;

  padding: 90px 0 90px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 30px 0 30px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.respond-to(mobileOnly) {
      width: 100% !important;
    }
  }

  &__title {
    margin: 0 0 30px 0;
  }

  &__wrapper {
    display: flex;

    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
    }
  }

  &__aside {
    width: 305px;
    min-height: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-white);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
    border-radius: 5px;

    padding: 22px 0 19px 0;
    margin: 0 24px 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
      height: fit-content;
      min-height: initial;

      padding: 22px 0 0 0;
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;

      margin: 0 0 30px 0;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;

      padding: 0 16px 0 16px;
      margin: 0 0 13px 0;
    }

    &-list {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      z-index: 10;

      &--main {
        @include mixins.respond-to(mobileOnly) {
          display: none;
        }
      }
    }

    &-item {
      display: block;

      width: 100%;

      &--hidden {
        display: none;
      }

      @include mixins.respond-to(mobileOnly) {
        &:last-child {
          box-shadow: 0 1px 10px 0 #b8b8b8;
        }
      }

      &:last-child .index-catalogue__aside-link {
        // padding: 19px 5px 0 0;

        &::after {
          display: none;
        }
      }

      // &:first-child .index-catalogue__aside-link {
      //   padding: 0 5px 19px 0;
      // }
    }

    &-link {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      background-color: var(--color-white);

      padding: 19px 15px 19px 16px;

      &:hover {
        background-color: var(--color-salomie);

        transition: background-color 0.1s;
      }

      &--active {
        background-color: var(--color-selective-yellow);

        &:hover {
          background-color: var(--color-selective-yellow);
        }

        @include mixins.respond-to(mobileOnly) {
          background-color: var(--color-white);

          color: var(--color-mine-shaft);
        }

        & .index-catalogue__aside-text {
          color: var(--color-black);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
      }
    }

    &-icon {
      margin: 0 13px 0 0;
    }

    &-text {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__select {
    position: relative;

    display: none;
    align-items: center;

    width: 100%;
    height: 70px;
    background-color: var(--color-selective-yellow);

    color: var(--color-black);

    padding: 19px 15px 19px 16px;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);

      transition: transform 0.1s;

      &--active {
        transform: translateY(-50%) rotate(180deg);
        transition: transform 0.1s;
      }
    }

    & .index-catalogue__aside-icon {
      user-select: none;
      pointer-events: none;
    }

    & .index-catalogue__aside-text {
      user-select: none;
      pointer-events: none;
    }

    & .index-catalogue__aside-list--select {
      display: none;
      position: absolute;
      bottom: -70px;
      left: 0;

      &--active {
        display: flex;
      }
    }
  }

  &__tabs {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__tab {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }

    &--active {
      display: flex;
    }
  }

  &__mobile-slider {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;

      padding: 0 0 50px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;
    }

    @include mixins.respond-to(tablet) {
      overflow: visible !important;
    }
  }

  &__mobile-wrapper {
    box-sizing: border-box !important;

    & .swiper-slide {
      height: inherit !important;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      display: inline-grid;
      grid-template: repeat(3, auto) / repeat(2, auto);
      grid-auto-flow: row;
      grid-gap: 24px;
    }

    @include mixins.respond-to(desktopS) {
      display: inline-grid;
      grid-template: repeat(2, auto) / repeat(3, auto);
      grid-auto-flow: row;
      grid-gap: 24px;
    }
  }

  &__item {
    position: relative;

    min-height: 570px;

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
    border-radius: 5px;

    padding: 17px 0 21px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 99%;
      height: 99%;
      background-color: var(--color-selective-yellow);
      border-radius: 5px;

      transform: translateY(-50%) translateX(-50%);
      transition: width 0.2s, height 0.2s;

      z-index: -1;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      box-shadow: none;

      padding: 17px 0 0 0;
    }

    @include mixins.respond-to(tablet) {
      background-color: var(--color-white);
    }

    @include mixins.respond-to(desktopM) {
      width: 305px;
    }

    &-content {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;
      overflow: hidden;

      @include mixins.respond-to(mobileOnly) {
        display: flex;
        flex-direction: column;

        width: 90%;
        max-width: 90%;
        min-height: auto;
        box-shadow: none;
        background-color: var(--color-white);

        padding: 0 0 21px 0;
        margin: 0 auto;
      }
    }

    &-image {
      width: 100%;
      height: auto;

      transition: transform 0.3s;

      margin: 0 0 10px 0;
    }

    &-img {
      width: 100%;
      object-fit: cover;
    }

    &-stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: fit-content;
      box-sizing: border-box;

      padding: 0 19px 0 19px;
    }
  }

  &__item:hover::before {
    width: calc(100% + 8px);
    height: calc(100% + 8px);

    transition: width 0.2s, height 0.2s;
  }

  // &__item:hover .index-catalogue__item-image {
  //   transform: scale(1.1);
  //   transition: transform 0.3s;
  // }

  &__stats {

    &-title {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 1px;

      margin: 0 0 10px 0;
    }

    &-list {
      width: 100%;

      margin: 0 0 17px 0;
    }

    &-item {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      padding: 0 0 10px 0;
      margin: 0 0 11px 0;

      &:last-child {
        margin: 0;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 1px;
        background-color: #E6E6E6;
      }
    }

    &-name {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #818A94;
      text-align: left;

      margin: 0 5px 0 0;
    }

    &-value {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      white-space: nowrap;
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      margin: 0 0 21px 0;
    }
  }

  &__price {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:first-child .index-catalogue__price-text {
        text-align: left;
      }

      &:first-child .index-catalogue__price-value {
        text-align: left;
      }

      &:last-child .index-catalogue__price-text {
        text-align: right;
      }

      &:last-child .index-catalogue__price-value {
        text-align: right;
      }
    }

    &-text {
      display: inline-block;

      width: 100%;

      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #818A94;
    }

    &-value {
      display: inline-block;

      width: 100%;

      font-weight: 700;
      font-size: 17px;
      line-height: 27px;
      color: var(--color-selective-yellow);
    }
  }

  &__main-button {
    align-self: center;

    width: 204px;
    height: 46px !important;
    border: 1px solid #303030;

    margin: auto 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
    }
  }

  &__slider-pagination {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      bottom: 0 !important;

      & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }

      & .swiper-pagination-bullet-active {
        background-color: var(--color-selective-yellow);
      }
    }
  }
}