:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-william: #3a5a6d;
	--color-pancho: #ead49e;
	--color-equator: #dcb85f;
	--color-silver-chalice: #9d9d9d;
	--color-mine-shaft: #2c2c2c;
	--color-wild-sand: #f6f6f6;
	--color-mercury: #e8e8e8;
	--color-mid-gray: #686972;
	--color-blue-zodiac: #143454;
	--color-gray: #7E7E7E;

	--gradient-main: linear-gradient(90deg, #EDD49D -25.11%, #E7D39E 175.32%);

	// Шрифты
	--font-family-default: 'Inter', system-ui, sans-serif;
	--font-family-title: 'Montserrat', system-ui, sans-serif;
	--font-family-special: 'Merriweather', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}